@import '../../styles/variables.scss';

.about {
  position: relative;

  .section {
    min-height: 100vh;
    position: relative;
    z-index: 10;
    font-family: 'AkzidenzGroteskBQ-Light', sans-serif;
    color: $main-color-text;
  }

  .bg-image {
    position: absolute;
    width: 100%;
    background-image: url('../../assets/images/about/about-conference-1.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    filter: brightness(0.4);
  }

  .section-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 5;
    width: 100%;
    max-width: 2500px;

    h1 {
      font-size: 40px;
      text-align: center;
      user-select: none;
      width: 100%;
      font-family: 'Inter-Bold', sans-serif;

      @include adapted-content-mobile {
        font-size: 26px;
      }
    }

    h2 {
      font-size: 140px;
      text-align: center;
      line-height: 90%;
      user-select: none;
      font-family: 'AkzidenzGroteskBQ-XBold', sans-serif;

      @include adapted-content {
        font-size: 120px;
      }

      @include adapted-content-mobile {
        font-size: 36px;
      }
    }

    h3 {
      font-size: 160px;
      margin-top: -30px;
      user-select: none;
      text-align: center;
      font-family: 'AkzidenzGroteskBQ-XBold', sans-serif;
      background: linear-gradient(
        170deg,
        $gradient-color-soft 35%,
        $gradient-color-deep 80%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;

      @include adapted-content {
        font-size: 140px;
      }

      @include adapted-content-mobile {
        margin-top: -5px;
        font-size: 46px;
      }
    }
  }

  .bg-image-section-2 {
    width: 100%;
    background-image: url('../../assets/images/about/about-conference-2.webp');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-color: #000;

    .gradient-overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: #25364cd9;
      z-index: 0;
    }

    .section-2 {
      position: relative;
      z-index: 5;
      height: 100vh;
      width: 95%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      gap: 40px;

      @include adapted-content-mobile {
        width: 100%;
        align-items: center;
      }

      h1 {
        font-size: 110px;

        @include adapted-content {
          font-size: 100px;
        }

        @include adapted-content-mobile {
          font-size: 46px;
          text-align: center;
          line-height: 42px;
        }

        span {
          font-size: 120px;
          margin-top: -40px;
          user-select: none;
          font-family: 'AkzidenzGroteskBQ-XBold', sans-serif;
          background: linear-gradient(
            to bottom,
            $gradient-color-soft 15%,
            $gradient-color-deep 80%
          );
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;

          @include adapted-content {
            font-size: 110px;
          }

          @include adapted-content-mobile {
            font-size: 50px;
          }
        }
      }

      p {
        width: 720px;
        font-size: 24px;
        text-align: right;
        line-height: 30px;

        @include adapted-content-mobile {
          width: 290px;
          font-size: 20px;
          line-height: 30px;
          text-align: left;
        }
      }
    }
  }

  .bg-image-section-3 {
    width: 100%;
    height: 1853px;
    background-image: url('../../assets/images/about/about-conference-3.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @include adapted-content-mobile {
      height: 2400px;
    }

    .gradient-overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        to left,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      );
      z-index: 0;
    }

    .section-3 {
      position: relative;
      z-index: 5;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      @include adapted-content-mobile {
        align-items: center;
      }

      .mision {
        padding: 0px 0px 0px 100px;

        @include adapted-content-mobile {
          padding: 0;
        }

        h1 {
          font-size: 110px;
          font-family: 'AkzidenzGroteskBQ-XBold', sans-serif;

          @include adapted-content-mobile {
            font-size: 40px;
            text-align: center;
            margin-bottom: 20px;
          }
        }

        p {
          width: 800px;
          font-size: 28px;
          text-align: left;
          line-height: 40px;

          @include adapted-content-mobile {
            width: 290px;
            font-size: 20px;
            line-height: 30px;
          }
        }
      }

      .vision {
        width: 100%;
        padding: 0px 100px 0px 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;

        @include adapted-content-mobile {
          align-items: center;
          padding: 0;
        }

        h1 {
          font-size: 110px;
          font-family: 'AkzidenzGroteskBQ-Light', sans-serif;

          @include adapted-content-mobile {
            font-size: 40px;
            text-align: center;
            margin-bottom: 20px;
          }
        }

        p {
          width: 800px;
          font-size: 30px;
          text-align: right;
          line-height: 40px;

          @include adapted-content-mobile {
            width: 290px;
            font-size: 20px;
            line-height: 30px;
            text-align: left;
          }
        }
      }

      .values {
        max-width: 2400px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;

        h1 {
          font-size: 110px;
          font-family: 'AkzidenzGroteskBQ-Light', sans-serif;

          @include adapted-content-mobile {
            font-size: 40px;
            text-align: center;
            margin-bottom: 20px;
          }
        }

        p {
          width: 750px;
          font-size: 30px;
          text-align: center;
          margin-top: -40px;
          line-height: 40px;

          @include adapted-content-mobile {
            width: 290px;
            font-size: 20px;
            line-height: 30px;
            text-align: left;
          }
        }
      }
    }
  }

  .bg-image-section-4 {
    width: 100%;
    min-height: 90vh;
    background-image: url('../../assets/images/about/about-conference-4.webp');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;

    .gradient-overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.9),
        rgba(0, 0, 0, 0.5)
      );
      z-index: 0;
    }

    .section-4 {
      position: relative;
      z-index: 5;
      height: 90vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h1 {
        font-size: 80px;

        @include adapted-content-mobile {
          font-size: 30px;
          text-align: center;
        }
      }

      h2 {
        font-size: 130px;
        margin-top: -20px;
        font-family: 'AkzidenzGroteskBQ-XBold', sans-serif;
        background: linear-gradient(
          to bottom,
          $gradient-color-soft 15%,
          $gradient-color-deep 80%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;

        @include adapted-content-mobile {
          font-size: 32px;
          margin-top: -5px;
          line-height: 42px;
        }
      }
    }
  }

  .section-5 {
    position: relative;
    width: 100%;
    background-color: #06090d;

    @include adapted-content-mobile {
      min-height: 80vh;
    }

    .section-5-content {
      position: relative;
      z-index: 10;

      @include adapted-content-mobile {
        min-height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .gallery {
        width: 100%;
        margin: 0 auto;
        columns: 3;
        padding-top: 40px;
        max-width: 1200px;
      }
    }
  }
}
