@import '../../styles/variables.scss';

.speaker-card {
  // width: 320px;
  // height: 400px;
  position: relative;
  cursor: pointer;

  @include adapted-content-mobile {
    height: 350px;
    cursor: default;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .speaker-description {
    display: none;
    // display: block;
    width: 100%;
    height: 100%;
    background-color: #486b99f1;
    position: absolute;
    top: 0;

    p {
      position: relative;
      top: 10%;
      padding: 12px;
      font-size: 18px;
      line-height: 28px;
      font-family: 'Inter-Regular', sans-serif;

      @include adapted-content-mobile {
        font-size: 14px;
        top: 2%;
      }
    }

    .speaker-name {
      width: 100%;
      position: relative;
      bottom: -12%;

      @include adapted-content-mobile {
        bottom: -4%;
      }

      span {
        font-size: 20px;
        font-family: 'Inter-Bold', sans-serif;
      }
    }
  }

  .btn-see-more {
    @include adapted-content-mobile {
      color: $gradient-color-soft;
      font-size: 18px;
      font-weight: bold;
      border-bottom: 1px solid $gradient-color-soft;
      cursor: pointer;
    }
  }

  &:hover {
    .speaker-description {
      display: block;
    }
  }
}
