@import '../../styles/variables.scss';

.blogDetail {
  .section {
    width: 100%;
    // height: 100vh;
    position: relative;
    z-index: 10;
    font-family: 'AkzidenzGroteskBQ-Light', sans-serif;
    color: #fff;
  }

  .section-1 {
    position: relative;
    background: linear-gradient(
      90deg,
      rgba(7, 11, 15, 1) 20%,
      rgba(37, 54, 76, 1) 75%
    );

    .section-1-content {
      width: 100%;
      // height: 100vh;
      display: flex;

      justify-content: center;
      align-items: center;

      .article-detail {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        max-width: 1200px;
        padding: 20px;
        margin: 80px 0 40px 0;
        gap: 20px;

        .article-date {
          width: 190px;
          height: 40px;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          font-size: 14px;
          font-weight: bold;
          gap: 5px;
          align-self: flex-start;
        }

        .article-title {
          font-size: 48px;
          font-family: 'Inter-Bold', sans-serif;

          @include adapted-content-mobile {
            font-size: 30px;
          }
        }

        .article-subtitle,
        .article-paragraph {
          font-size: 20px;
        }

        .article-image {
          max-width: 1200px;
          width: 100%;
          height: 600px;
          object-fit: cover;

          @include adapted-content-mobile {
            height: 320px;
            width: 320px;
          }
        }
      }
    }
  }

  .section-2 {
    position: relative;
    background: linear-gradient(
      90deg,
      rgba(7, 11, 15, 1) 20%,
      rgba(37, 54, 76, 1) 75%
    );
    height: 900px;

    @include adapted-content-mobile {
      height: 1900px;
    }
  }
}
