@use '../../styles/variables.scss' as *;

.sponsors {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;

  img {
    max-width: 1620px;
    width: 80%;
    // max-height: 800px;
    // height: 100%;
    // user-select: none;

    @include adapted-content-mobile {
      max-width: 380px;
    }
  }

  .sponsor {
    position: relative;
    max-width: 1920px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      max-width: 1920px;
      width: 80%;
      // max-height: 400px;
      // height: 100%;
      // object-fit: contain;
    }

    div {
      position: absolute;
      width: 80%;
      text-align: center;
      top: 10%;

      @include adapted-content-mobile {
        top: 0;
        position: relative;
      }

      h1 {
        font-size: 90px;

        @include adapted-content {
          font-size: 60px;
        }

        @include adapted-content-mobile {
          font-size: 38px;
        }
      }

      p {
        font-size: 90px;
        font-weight: bold;
        margin-top: -20px;
        font-family: 'AkzidenzGroteskBQ-XBold', sans-serif;
        background: linear-gradient(
          to bottom,
          $gradient-color-soft 35%,
          $gradient-color-deep 80%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;

        @include adapted-content {
          font-size: 60px;
        }

        @include adapted-content-mobile {
          font-size: 34px;
          margin-top: -10px;
        }
      }
    }
  }

  .strategic-alliances {
    font-size: 90px;
    font-weight: bold;
    font-family: 'AkzidenzGroteskBQ-XBold', sans-serif;
    background: linear-gradient(
      to bottom,
      $gradient-color-soft 35%,
      $gradient-color-deep 80%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

    @include adapted-content {
      font-size: 80px;
    }

    @include adapted-content-mobile {
      font-size: 40px;
      // margin-top: -10px;
      line-height: 38px;
      text-align: center;
    }
  }
}
