@import '../../styles/variables.scss';

.menu {
  display: flex;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  padding: 30px 60px;
  height: 95px;
  width: 100%;
  z-index: 60;

  .menu-logo {
    img {
      width: 140px;
      height: 70px;
    }
  }

  .menu-links {
    color: $main-color-text;
    max-width: 850px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-family: 'Raleway-Medium', sans-serif;

    .company-name {
      height: 47px;
      width: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: 'Montserrat-Regular', sans-serif;
      background-image: linear-gradient(
        to top,
        $gradient-color-deep,
        $gradient-color-soft
      );
      transform: skew(-20deg);

      &:hover {
        opacity: 0.9;
      }

      span {
        transform: skew(20deg);
      }
    }
  }
}
