@use '../../styles/variables.scss' as *;

.talk {
  display: flex;
  position: relative;

  img {
    max-width: 100%;
    width: 420px;
    height: 420px;
    object-fit: cover;

    @include adapted-content-mobile {
      height: 250px;
      width: 250px;
    }
  }

  div {
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: #000;
    height: 98px;
    display: flex;
    justify-content: center;
    align-items: center;

    @include adapted-content-mobile {
      height: 60px;
    }

    h1 {
      font-size: 36px;
      text-align: center;

      @include adapted-content-mobile {
        font-size: 18px;
      }
    }
  }
}
