@import '../../styles/variables.scss';

.blog {
  position: relative;

  .section {
    min-height: 100vh;
    position: relative;
    z-index: 10;
    font-family: 'AkzidenzGroteskBQ-Light', sans-serif;
    color: $main-color-text;
  }

  .section-1 {
    position: relative;
    width: 100%;
    background-color: #000;

    .section-1-content {
      position: relative;
      z-index: 10;
      width: 100%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      @include adapted-content-mobile {
        gap: 40px;
      }

      h1 {
        font-size: 110px;

        @include adapted-content-mobile {
          font-size: 46px;
          text-align: center;
          line-height: 38px;
        }

        span {
          font-size: 120px;
          margin-top: -40px;
          user-select: none;
          font-family: 'AkzidenzGroteskBQ-XBold', sans-serif;
          background: linear-gradient(
            to bottom,
            $gradient-color-soft 15%,
            $gradient-color-deep 80%
          );
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;

          @include adapted-content-mobile {
            font-size: 48px;
            text-align: center;
          }
        }
      }

      p {
        font-size: 28px;
        width: 850px;
        text-align: center;
        line-height: 40px;

        @include adapted-content-mobile {
          width: 300px;
          font-size: 22px;
          line-height: 30px;
          text-align: center;
        }
      }
    }
  }

  .section-2 {
    position: relative;
    width: 100%;
    // background: rgb(7, 11, 15);
    background: linear-gradient(
      90deg,
      rgba(7, 11, 15, 1) 20%,
      rgba(37, 54, 76, 1) 75%
    );

    @include adapted-content-mobile {
      height: 1000px;
    }

    .section-2-content {
      position: relative;
      z-index: 10;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      @include adapted-content-mobile {
        height: 100%;
      }

      .title {
        h1 {
          font-size: 80px;
          margin-bottom: 50px;

          @include adapted-content-mobile {
            font-size: 40px;
          }
        }
      }

      .cards {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 20px;

        @include adapted-content-mobile {
          flex-wrap: wrap;
        }
      }
    }
  }

  .section-3 {
    position: relative;
    width: 100%;
    background: rgb(7, 11, 15);
    background: linear-gradient(
      90deg,
      rgba(7, 11, 15, 1) 20%,
      rgba(37, 54, 76, 1) 75%
    );

    @include adapted-content-mobile {
      height: 2400px;
    }
  }
}
