@import '../../styles/variables.scss';

.article-content {
  width: 400px;
  height: 560px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  @include adapted-content-mobile {
    width: 300px;
  }

  img {
    width: 100%;
    height: 340px;
    object-fit: cover;
    filter: brightness(0.6);
    user-select: none;
  }

  h1 {
    text-align: center;
    font-family: 'Inter-Bold', sans-serif;
    font-size: 22px;
    user-select: none;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  p {
    text-align: center;
    user-select: none;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  .article-btn {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 0;
    width: 100%;

    @include adapted-content-mobile {
      position: relative;
    }

    .article-link {
      height: 38px;
      width: 140px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: 'AkzidenzGroteskBQ-Light', sans-serif;
      background: linear-gradient(
        to top,
        $gradient-color-deep,
        $gradient-color-soft
      );
      transform: skew(-20deg);

      &:hover {
        opacity: 0.9;
      }

      span {
        transform: skew(20deg);
        font-size: 16px;
      }
    }
  }
}
