@import '../../styles/variables.scss';

.article {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .title {
    h1 {
      font-size: 80px;

      @include adapted-content-mobile {
        font-size: 40px;
      }
    }
  }

  .article-body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 40px 0 28px 0;
    flex-wrap: wrap;
    gap: 10px;
    min-height: 660px;
    width: 100%;

    ul {
      li {
        @include adapted-content-mobile {
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}
