@import '../../styles/variables.scss';

.ticket {
  position: relative;
  width: 100%;
  // height: 2250px;
  background: $gradient-color-soft;
  background: radial-gradient(
    circle farthest-corner at center center,
    $gradient-color-soft 0%,
    $gradient-color-deep 100%
  );

  .ticket-content {
    position: relative;
    z-index: 10;

    .icons {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      height: 120px;
      padding-top: 80px;

      @include adapted-content-mobile {
        height: 60px;
        padding-top: 40px;
      }

      img {
        height: 80px;

        @include adapted-content-mobile {
          height: 40px;
          width: 80px;
        }
      }

      span {
        font-size: 60px;
        font-weight: bold;

        @include adapted-content-mobile {
          font-size: 20px;
        }
      }
    }

    .info {
      margin-top: 40px;
      padding: 40px 90px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      @include adapted-content-mobile {
        flex-direction: column;
        padding: 40px 10px;
      }

      img {
        max-width: 900px;
        width: 100%;
        // max-height: 700px;
        // height: 100%;

        @include adapted-content-mobile {
          max-width: 500px;
          margin-bottom: 40px;
        }
      }

      .info-details {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 800px;

        .dates {
          h1 {
            font-size: 70px;

            @include adapted-content {
              font-size: 60px;
              text-align: right;
            }
          }

          p {
            font-size: 28px;
            width: 500px;
            @include adapted-content {
              font-size: 24px;
              text-align: right;
            }
          }
        }

        .more-info {
          display: flex;
          flex-direction: column;
          align-items: end;
          gap: 20px;
          p {
            text-align: right;
            font-size: 60px;
            width: 500px;
          }
          .section-3-link {
            height: 46px;
            width: 230px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: 'Montserrat-Regular', sans-serif;
            background: linear-gradient(
              to top,
              $gradient-color-deep-sec,
              $gradient-color-soft-sec
            );
            transform: skew(-20deg);

            &:hover {
              opacity: 0.9;
            }

            span {
              transform: skew(20deg);
              font-size: 19px;
              font-weight: bold;
            }
          }
        }
      }

      // info responsive for mobile
      .dates {
        @include adapted-content-mobile {
          margin-bottom: 40px;
        }

        h1 {
          @include adapted-content-mobile {
            font-size: 30px;
            text-align: center;
          }
        }

        p {
          @include adapted-content-mobile {
            font-size: 20px;
            // width: 500px;
          }
        }
      }

      .more-info {
        @include adapted-content-mobile {
          // margin-bottom: 40px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }

        p {
          @include adapted-content-mobile {
            text-align: center;
            font-size: 28px;
            margin-bottom: 20px;
            // width: 500px;
          }
        }

        .section-3-link {
          @include adapted-content-mobile {
            height: 36px;
            width: 160px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: 'Montserrat-Regular', sans-serif;
            background: linear-gradient(
              to top,
              $gradient-color-deep-sec,
              $gradient-color-soft-sec
            );
            transform: skew(-20deg);
          }

          span {
            @include adapted-content-mobile {
              transform: skew(20deg);
              font-size: 14px;
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}
