$gradient-color-deep: #28538e;
$gradient-color-soft: #5c85d0;
$gradient-color-deep-sec: #186b38;
$gradient-color-soft-sec: #3fbf55;
$main-color-text: #fff;
$soft-color-text: #c5c5c5;
$soft-bg: #486b99b3;
$dark-bg: #25364ccc;

@font-face {
  font-family: 'Raleway-Medium';
  src: url('../assets/fonts/Raleway-Medium.ttf') format('truetype');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../assets/fonts/Montserrat-Regular.otf') format('truetype');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter-Regular';
  src: url('../assets/fonts/Inter-Regular.ttf') format('truetype');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter-Bold';
  src: url('../assets/fonts/Inter-bold.ttf') format('truetype');
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: 'AkzidenzGroteskBQ-Light';
  src: url('../assets/fonts/AkzidenzGroteskBQ-Light.otf') format('truetype');
  // font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: 'AkzidenzGroteskBQ-XBold';
  src: url('../assets/fonts/AkzidenzGroteskBQ-XBold.otf') format('truetype');
  // font-weight: bold;
  font-display: swap;
}

@mixin adapted-content {
  @media (max-width: 1700px) {
    @content;
  }
}

@mixin adapted-content-mobile {
  @media (max-width: 950px) {
    @content;
  }
}
