@import '../../styles/variables.scss';

.home {
  position: relative;

  .section {
    min-height: 100vh;
    position: relative;
    z-index: 10;
    font-family: 'AkzidenzGroteskBQ-Light', sans-serif;
    color: $main-color-text;
  }

  .bg-video {
    position: absolute;
    width: 100%;
    object-fit: cover;
    z-index: -1;
  }

  .section-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 2500px;

    h1 {
      font-size: 140px;
      line-height: normal;
      user-select: none;
      width: 80%;
      font-family: 'AkzidenzGroteskBQ-XBold', sans-serif;

      @include adapted-content {
        font-size: 100px;
      }
    }

    h2 {
      font-size: 120px;
      width: 80%;
      user-select: none;
      line-height: 95%;
      font-family: 'AkzidenzGroteskBQ-XBold', sans-serif;
      background: linear-gradient(
        to bottom,
        $gradient-color-soft 35%,
        $gradient-color-deep 80%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;

      @include adapted-content {
        font-size: 90px;
      }
    }
  }

  .bg-image-section-2 {
    width: 100%;
    background-image: url('../../assets/images/bg-section-2.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .gradient-overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        to left,
        rgba(0, 0, 0, 1),
        rgba(0, 0, 0, 0.1)
      );
      z-index: 0;
    }

    .section-2 {
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      flex-direction: column;
      position: relative;
      z-index: 5;
      padding-right: 120px;
      gap: 40px;

      h1 {
        font-size: 140px;
        font-family: 'Inter-Regular', sans-serif;
        @include adapted-content {
          font-size: 100px;
        }

        span {
          font-family: 'AkzidenzGroteskBQ-XBold', sans-serif;
          background: linear-gradient(
            to bottom,
            $gradient-color-soft 65%,
            $gradient-color-deep 100%
          );
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
        }
      }

      p {
        width: 618px;
        font-family: 'Raleway-Medium', sans-serif;
        font-size: 28px;
        text-align: right;
        line-height: 45px;

        @include adapted-content {
          font-size: 22px;
        }
      }

      .section-2-link {
        height: 70px;
        width: 350px;
        font-family: 'Montserrat-Regular', sans-serif;
        background: linear-gradient(
          to top,
          $gradient-color-deep,
          $gradient-color-soft
        );
        display: flex;
        justify-content: center;
        align-items: center;
        transform: skew(-20deg);
        margin-right: 15px;

        &:hover {
          opacity: 0.9;
        }

        @include adapted-content {
          height: 60px;
          width: 250px;
        }

        span {
          transform: skew(20deg);
          font-size: 25px;
          color: #fff;

          @include adapted-content {
            font-size: 20px;
          }
        }
      }
    }
  }

  .section-3 {
    position: relative;
    width: 100%;
    height: 2250px;
    background: $gradient-color-soft;
    background: radial-gradient(
      circle farthest-corner at center center,
      $gradient-color-soft 0%,
      $gradient-color-deep 100%
    );

    .section-3-content {
      position: relative;
      z-index: 10;

      .title {
        padding: 50px 0px 20px 100px;

        h1 {
          font-size: 100px;
          margin-bottom: -40px;
        }

        p {
          font-size: 120px;
          margin-bottom: -30px;
          font-family: 'AkzidenzGroteskBQ-XBold', sans-serif;
          background: linear-gradient(
            to bottom,
            $gradient-color-soft 95%,
            $gradient-color-deep 10%
          );
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
        }
      }

      .icons {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 120px;
        margin-top: 20px;

        img {
          height: 80px;
          width: 200px;
        }

        span {
          font-size: 60px;
          font-weight: bold;
        }
      }

      .info {
        margin-top: 40px;
        padding: 40px 90px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        img {
          max-width: 900px;
          width: 100%;
          // max-height: 700px;
          // height: 100%;
          // object-fit: cover;
        }

        .info-details {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
          height: 800px;

          .dates {
            h1 {
              font-size: 70px;

              @include adapted-content {
                font-size: 60px;
                text-align: right;
              }
            }

            p {
              font-size: 28px;
              width: 500px;
              @include adapted-content {
                font-size: 24px;
                text-align: right;
              }
            }
          }

          .more-info {
            display: flex;
            flex-direction: column;
            align-items: end;
            gap: 20px;

            p {
              text-align: right;
              font-size: 60px;
              width: 500px;
            }

            .section-3-link {
              height: 46px;
              width: 230px;
              display: flex;
              justify-content: center;
              align-items: center;
              font-family: 'Montserrat-Regular', sans-serif;
              background: linear-gradient(
                to top,
                $gradient-color-deep-sec,
                $gradient-color-soft-sec
              );
              transform: skew(-20deg);

              &:hover {
                opacity: 0.9;
              }

              span {
                transform: skew(20deg);
                font-size: 19px;
                font-weight: bold;
              }
            }
          }
        }
      }
    }
  }

  .bg-image-section-4 {
    width: 100%;
    height: 3900px;
    background-image: url('../../assets/images/bg-section-4.webp');
    background-size: 1600px auto;
    background-position: top;
    background-repeat: no-repeat;
    background-color: #000;

    @include adapted-content {
      height: 3600px;
    }

    .gradient-overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.8);
      z-index: 0;
    }

    .section-4 {
      position: relative;
      z-index: 5;

      .title {
        padding: 100px 0px 20px 100px;
        h1 {
          font-size: 100px;

          @include adapted-content {
            font-size: 90px;
          }
        }

        p {
          padding-left: 160px;
          margin-top: -40px;
          font-size: 100px;
          font-weight: bold;
          font-family: 'AkzidenzGroteskBQ-XBold', sans-serif;
          background: linear-gradient(
            to bottom,
            $gradient-color-soft 35%,
            $gradient-color-deep 80%
          );
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
        }
      }

      .cards-testimony {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 100px;
        flex-wrap: wrap;
      }
    }
  }

  .bg-image-section-5 {
    width: 100%;
    background-image: url('../../assets/images/bg-section-5.webp');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;

    .gradient-overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.9),
        rgba(0, 0, 0, 0.5)
      );
      z-index: 0;
    }

    .section-5 {
      position: relative;
      z-index: 5;

      .title {
        padding: 150px 0px 20px 100px;
        h1 {
          font-size: 100px;

          @include adapted-content {
            font-size: 90px;
          }
        }

        p {
          margin-top: -40px;
          font-size: 125px;
          font-weight: bold;
          font-family: 'AkzidenzGroteskBQ-XBold', sans-serif;
          background: linear-gradient(
            to bottom,
            $gradient-color-soft 35%,
            $gradient-color-deep 80%
          );
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;

          @include adapted-content {
            font-size: 100px;
          }
        }
      }

      .info {
        text-align: right;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: end;
        gap: 20px;
        margin-right: 7%;
        margin-top: 160px;

        p {
          width: 580px;
          font-size: 36px;
        }

        .section-5-link {
          display: flex;
          justify-content: center;
          align-items: center;
          border: none;
          height: 46px;
          width: 230px;
          cursor: pointer;
          font-family: 'Montserrat-Regular', sans-serif;
          background: linear-gradient(
            to top,
            $gradient-color-deep,
            $gradient-color-soft
          );
          transform: skew(-20deg);

          &:hover {
            opacity: 0.9;
          }

          span {
            transform: skew(20deg);
            font-size: 18px;
            font-weight: bold;
            color: $main-color-text;
          }
        }
      }
    }
  }

  .section-6 {
    position: relative;
    width: 100%;
    height: 950px;
    background: rgb(7, 11, 15);
    background: linear-gradient(
      90deg,
      rgba(7, 11, 15, 1) 20%,
      rgba(37, 54, 76, 1) 75%
    );

    .section-6-content {
      position: relative;
      z-index: 10;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .title {
        padding: 100px 0px 50px 100px;
        h1 {
          font-size: 100px;

          @include adapted-content {
            font-size: 90px;
          }

          span {
            font-size: 115px;
            font-family: 'AkzidenzGroteskBQ-XBold', sans-serif;
            background: linear-gradient(
              to bottom,
              $gradient-color-soft 35%,
              $gradient-color-deep 80%
            );
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;

            @include adapted-content {
              font-size: 100px;
            }
          }
        }

        p {
          padding: 30px;
          text-align: center;
          font-size: 29px;
        }
      }

      .cards {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 20px;
      }
    }
  }

  .section-7 {
    position: relative;
    width: 100%;
    height: 950px;
    background: rgb(7, 11, 15);
    background: linear-gradient(
      90deg,
      rgba(7, 11, 15, 1) 20%,
      rgba(37, 54, 76, 1) 75%
    );
  }
}
