.section-3-lines {
  position: absolute;
  width: 40%;
  height: 90%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.left-line {
  @extend .section-3-lines;
  background-image: url('../../assets/svg/left-lines.svg');
  // z-index: 8;
}

.right-line {
  @extend .section-3-lines;
  right: 0;
  background-image: url('../../assets/svg/right-lines.svg');
}
