.section-lines {
  position: absolute;
  width: 40%;
  height: 95%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.left-line {
  @extend .section-lines;
  background-image: url('../../assets/svg/left-lines.svg');
}

.right-line {
  background-image: url('../../assets/svg/right-lines.svg');
  right: 0;
  @extend .section-lines;
}
