.cookies {
  position: relative;

  .section {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 10;
    padding-top: 8rem;
    font-family: 'AkzidenzGroteskBQ-Light', sans-serif;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 4rem;

    p,
    h4 {
      margin-top: 1rem;
    }

    ol,
    ul {
      margin-top: 1rem;
      padding-left: 5%;
      padding-right: 5%;
      li {
        margin-top: 1rem;
      }
    }
  }
}
