@use '../../styles/variables.scss' as *;

.video-player {
  text-align: center;

  video {
    max-width: 90%;
    width: 1500px;
    height: 700px;
    object-fit: cover;

    @include adapted-content-mobile {
      width: 400px;
      height: 250px;
    }
  }
}
