@use '../../styles/variables.scss' as *;

.section-footer {
  position: relative;
  min-height: 90vh;
  font-family: 'AkzidenzGroteskBQ-Light', sans-serif;
  color: $main-color-text;

  .bg-video-footer {
    position: absolute;
    width: 100%;
    height: 90vh;
    object-fit: cover;
    z-index: -1;

    @include adapted-content-mobile {
      height: 100vh;
    }
  }

  .gradient-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.5)
    );
    z-index: 0;
  }

  .footer-container {
    position: relative;
    z-index: 10;
    height: 90vh;
    padding: 100px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include adapted-content-mobile {
      padding: 30px 0px 0px 0px;
      height: 100vh;
    }

    .container-section-1 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 90%;

      @include adapted-content-mobile {
        flex-direction: column;
        width: 100%;
        height: 220px;
      }

      .social-networks {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 1000px;
        height: 60px;
        background-color: $dark-bg;
        position: relative;
        z-index: 10;

        @include adapted-content-mobile {
          max-width: 300px;
          width: 100%;
        }

        &:after {
          content: '';
          opacity: 0.5;
          width: 1020px;
          height: 65px;
          bottom: 1px;
          position: absolute;
          border: 1px solid $main-color-text;
          z-index: -1;

          @include adapted-content-mobile {
            width: 310px;
            left: 0;
          }
        }

        p {
          font-size: 24px;
          font-weight: bold;

          @include adapted-content-mobile {
            font-size: 16px;
          }
        }

        .social-icons {
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          width: 250px;

          a {
            img {
              width: 24px;
              height: 24px;
            }
          }
        }
      }

      .eie-logo {
        img {
          width: 160px;
          height: 85px;

          @include adapted-content-mobile {
            width: 120px;
            height: 60px;
          }
        }
      }

      .social-icons {
        @include adapted-content-mobile {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 20px;
        }
      }
    }

    .container-section-2 {
      display: flex;
      justify-content: space-around;
      align-items: center;

      .section-2-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        h1 {
          font-size: 80px;

          @include adapted-content-mobile {
            font-size: 24px;
            margin-bottom: 14px;
          }
        }

        a {
          font-size: 18px;
          margin-bottom: 6px;

          &:hover {
            border-bottom: 1px solid #fff;
          }

          @include adapted-content-mobile {
            // font-size: 18px;
            margin-bottom: 10px;
          }
        }
      }

      .section-2-info {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;

        @include adapted-content-mobile {
          width: 160px;
          justify-content: start;
          gap: 20px;
        }

        h1 {
          font-size: 50px;

          @include adapted-content-mobile {
            font-size: 18px;
            text-align: right;
          }
        }

        .contact {
          display: flex;
          justify-content: space-between;
          align-items: center;

          @include adapted-content-mobile {
            flex-direction: column;
            align-items: flex-end;
          }

          .phones {
            @include adapted-content-mobile {
              margin-bottom: 10px;
            }
          }
        }

        .privacy-section {
          display: flex;
          justify-content: space-between;
          align-items: center;

          @include adapted-content-mobile {
            flex-direction: column;
            align-items: flex-end;
          }

          a {
            &:hover {
              border-bottom: 1px solid #fff;
            }
          }
        }
      }
    }

    .line-divider {
      @include adapted-content-mobile {
        width: 70%;
        border: 0.2px solid #d4d4d4;
        position: relative;
        left: 25%;
      }
    }

    .privacy-section {
      @include adapted-content-mobile {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        gap: 10px;
        position: relative;
        right: 5%;
        font-size: 18px;
        margin-top: -20px;
      }
    }

    .container-section-3 {
      height: 140px;
      width: 100%;
      background-color: $soft-bg;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;

      p {
        font-weight: bold;
        font-size: 16px;
        font-family: 'Inter-Bold', sans-serif;
        span {
          font-family: 'Inter-Regular', sans-serif;
          font-weight: normal;
        }

        @include adapted-content-mobile {
          font-size: 14px;
          text-align: center;
        }
      }

      .footer-image {
        img {
          width: 100%;
          height: 60px;
          object-fit: cover;

          @include adapted-content-mobile {
            height: 40px;
          }
        }
      }
    }
  }
}
