@use '../../styles/variables.scss' as *;

.edition {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding-top: 180px;

  @include adapted-content-mobile {
    padding-top: 50px;
  }

  .edition-tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    @include adapted-content-mobile {
      flex-wrap: wrap;
      gap: 10px;
    }

    .tab-active {
      border: 1px solid $soft-color-text;
    }

    div {
      position: relative;
      cursor: pointer;

      h1 {
        position: absolute;
        width: 100%;
        bottom: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 58px;
        z-index: 10;

        @include adapted-content-mobile {
          font-size: 36px;
          bottom: 20px;
        }
      }

      img {
        max-width: 450px;
        width: 100%;
        height: 400px;
        object-fit: cover;
        filter: brightness(0.6);

        @include adapted-content-mobile {
          width: 340px;
          height: 250px;
        }
      }
    }

    &:hover div:not(:hover) {
      filter: brightness(50%) blur(1px);
    }
  }
}
